*{
    padding:0;
    margin: 0;
    box-sizing: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body{
    box-sizing: border-box;
}
.app{
    height: 2000px;
}
.content{

}
.category__header h1{
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;

}
.input__danhmuc{
    width: 300px;
    padding: 5px 0;
}
.add__danhmuc__btn{
    width: 100px;
}