
.course__title{
    font-size: 24px;
}
.describe__title{
    font-size: 20px;
    display: block;
    font-weight: 600;
    
}
.course__para{
    font-weight: 300;
}
.course__interface{
    display: flex;
    flex-direction: column;
}
.summary__list{
    list-style-type: none;
    font-weight: 300;
}

.interface__button{
    display: block;
    justify-content: center;
}
.interface__button {
    padding: 4px 6px 8px;
    border: 1px solid #000;
    font-size: 24px;
    border-radius: 8px;
    background-color: #000;
    color: white;
}
.interface__button:hover{
    cursor: pointer;
    border: 1px solid ;
    background-color: white;
    color:black;
}
.content__container__product{
    height: 1400px;
}
.course__product{
    height: 1200px;
}
.video__content{
    border-radius: 2px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.46);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(255, 255, 255, 0.41);
}

.video__id {
    font-weight: 200;
}

.video__name {
    font-weight: 200;
}

.video__time {
    font-weight: 200;
    min-width: 40px;
}
.video__plus{
    width: 20px;
    height: 20px;
}
