.content__profile{
    height: auto;
}
.content{
    height: fit-content;
    min-height: 530px;
}
.profile__container{
    height: 350px;
}
.btn__change {
    align-items: center;
}

.btn__change button{
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
   
}
.btn__change button:hover{
    color: aliceblue;
    background-color: #000;
    cursor: pointer;
}
.btn__info{
    float: right;
}
.avatar__btn{
    align-items: center;
}
.avatar__img {
    height: 250px;
    width: 300px;
}
.info__title{
    font-weight: 600;
}
.info__inside{
    float:right;
}
.form__modal__add{
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;
    
}
.modal__content{
    background-color: #fff;
    width: 700px;
    position: relative;
    border-radius: 10px;
    height: 175px;
}
.modal__title h2{
    position: relative;
    left: 35%;
    top: 10%;
}
.modal__title i{
    position: absolute;
    right: 2%;
    top: 4%;
    font-size: 28px;
}
.modal__input{
    padding: 4px 0;
    border-radius: 5px;
}
.modal-close:hover{
    cursor: pointer;
}
.cta {
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    left: 40%;
    top: 5%;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
}
    to {
        opacity: 1;
        transform: translateY(0);
}
}
