*{
    padding:0;
    margin: 0;
    box-sizing: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body{
    box-sizing: border-box;
}
.background-form{
    background-color: #ccc;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    margin: 10% auto auto auto;
}
.flex{
    display: flex;
}
.hover:hover{
    color: rgba(0, 0, 0, 0.5)
}
.add-width{
    width:120%;
}
.back-home{
    width: 250px;
    position: relative;
    top: 5px;
  }
  .btn-backhome{
      text-decoration: none;
      color: black;
  }