*{
    padding:0;
    margin: 0;
    box-sizing: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body{
    box-sizing: border-box;
    
}

/*HEADER*/
.header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    right: 0;
    left:0;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    background-color: var(--while-color);
    padding:0 28px;
    z-index: 20;
}
.header__navbars{
    height: 70px;
    color: var(--while-color);
    max-width: auto;
}
/*HEADER-MENU*/
.navbars__menu{
    display: flex;
    position: relative;

}
.navbars__list{
    display: flex;
    justify-content: center;
}
.navbars__item{
    list-style: none;
    padding: 22px 15px 14px 15px;
}
.navbars__item:hover{
    background-color: rgba(0,0,0, 0.1);
    cursor: pointer;
    border-bottom: 2px solid #333;
}

.navbars__link{
    text-decoration: none;
    color: black;
    font-size: 16px;
    height: 20px;
}
/*HEADER-SEARCH*/
.navbars__search{
    display: flex;
    width: 200px;
}
.search__icon{
    position: relative;
    top:28px;
    left: 26px;
    z-index: 1;
    color: black;
}
.search__input{
    width: 500px;
    height: 30px;
    position: relative;
    top: 20px;
    border-radius: 15px;
    border: 2px solid #333;
    padding: 0 32px;
    transition: border-color .2s ease-in-out;
    outline: none;
}

/*HEADER-LOGIN*/
.navbars__login{
    position: relative;
    max-width: auto;
    float: right;
}

.navbars_notification{
    position: relative;
    top: 30%;
    right: 90px;
    font-size: 20px;
    color: #000;
}
.navbars__button--dn{
    background-color: var(--black-color);
    border-radius: 20px;
    border: none;
    color: var(--while-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 9px 18px;
    text-align: center;
    position: relative;
    top:18%;
    float: right;
}
.navbars__button--dn:hover{
    opacity: 0.8;
}
.navbars__button--dn:hover .navbars__button__hover--dn{
    transform: translateY(-2px);
}

.navbars__button--dk{
    outline: none;
    border: none;
    background-color: transparent;
    position: relative;
    top: 32%;
    font-size: 16px;
    float: left;
    text-align: center;
}

.navbars__button--dk:hover .navbars__button__hover--dk{
    transform: translateY(-2px);
    cursor: pointer;
}
/*CONTENT*/
.content{
    width: auto;
    display: flex;
}
.content__sidebar{
    position: relative;
    top:20px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    left:0;
}
.sidebar{
    width:90px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    left: 14px;
    padding: 0 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 74px;
    z-index: 8;
}
.sidebar__list{
    padding-left: 0;
}
.sidebar__item{
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    color: #404040;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    margin-top: 4px;
    width: 72px;
    border-radius: 16px;
    transition: right linear 0.4s;
}
.sidebar__item:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateX(3px);
}
.sidebar__link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #333;
    font-weight: 700;
    position: relative;
 
}
.sidebar__link:hover{
    

}
.sidebar__icon{
    text-align: center;
}
.sidebar__title{
    margin-top: 8px;
    font-size: 14px;
}

.pathway__introduce {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: 30em;
    width: 1000px;
    background: url("/assets/img/Pathway.png") no-repeat;
}

.img__pathway {
    border: 2px solid #e8e8e8;
    border-radius: 16px;
    display: inline-flex;
    flex-direction: column;
    padding: 25px;
    margin: 25px;
    width: 20%;
    height: 100%;
}

.introduce__background{
    height: 60px;
    background-color: transparent;
    border-radius: 12px;
    margin-right: 16px;
    margin-top: 16px;
}
.introduce__title{
    font-size: 40px;
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    text-align: center;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }


.introduce__name__programing{
    display: flex;
    justify-content: space-around;
    top:20px;
    position: relative;
}
.introduce__icon{
    width: 150px;
    height: 150px;
}
.footer{
    background-color: var(--black-color);
    color:#fff;
    height: 120px;
}
.footer_title{
    text-align: center;
    padding: 20px 0 ;
    font-size: 30px;
}
.footer__button{
    padding: 0 20px;
}
.footer__title__link{
    text-decoration: none;
    color:#fff;
}
.footer__button_list{
    display: flex;
    justify-content: space-between; 
}
.footer__button_item{
    list-style-type: none;
}
.footer__button__link{
    text-decoration: none;
    color:#fff;
}