*{
    padding:0;
    margin: 0;
    box-sizing: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body{
    box-sizing: border-box;
}

/*HEADER*/
.header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    right: 0;
    left:0;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    background-color: var(--while-color);
    padding:0 28px;
    z-index: 20;
}
.header__navbars{
    height: 70px;
    color: var(--while-color);
    max-width: auto;
}
/*HEADER-MENU*/
.navbars__menu{
    display: flex;
    position: relative;

}
.navbars__list{
    display: flex;
    justify-content: center;
}
.navbars__item{
    list-style: none;
    
}
.navbars__item:hover{
    background-color: rgba(0,0,0, 0.1);
    cursor: pointer;
    border-bottom: 2px solid #333;
}
.navbars__link:hover{
    background-color: rgba(0,0,0, 0.1);
}
.navbars__link{
    position: relative;
    top:40%;
    text-decoration: none;
    
    padding: 27px 20px 18px 20px;
    background-color: #fff;
    color: black;
    font-size: 16px;
    height: 20px;
}
/*HEADER-SEARCH*/
.navbars__search img{
    border-radius: 30px;
}
.search__icon{
    position: relative;
    top:28px;
    left: 26px;
    z-index: 1;
    color: black;
}
.search__input{
    width: 500px;
    height: 30px;
    position: relative;
    top: 20px;
    border-radius: 15px;
    border: 2px solid #333;
    padding: 0 32px;
    transition: border-color .2s ease-in-out;
    outline: none;
}

/*HEADER-LOGIN*/
.navbars__login{
    position: relative;
    max-width: auto;
    float: right;
}

.navbars_notification{
    position: relative;
    top: 30%;
    right: 90px;
    font-size: 20px;
    color: #000;
}
.navbars__button--dn{
    background-color: var(--black-color);
    border-radius: 20px;
    border: none;
    color: var(--while-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 10px;
    text-align: center;
    position: relative;
    float: right;
    height: 50%;
    top:27%
}
.navbars__button--dn:hover{
    opacity: 0.8;
}
.navbars__button--dn:hover .navbars__button__hover--dn{
    transform: translateY(-2px);
}

.navbars__button--dk{
    outline: none;
    border: none;
    background-color: transparent;
    position: relative;
    font-size: 16px;
    float: left;
    text-align: center;
}

.navbars__button--dk:hover .navbars__button__hover--dk{
    transform: translateY(-2px);
    cursor: pointer;
}

.navbars__button__dx__link{
    text-decoration: none;
    position: relative;
    top:18%;
    color: #fff;
}
.navbars__button__dx__link:hover{
    color: #000;

}
.navbars__button__dx{
    align-items: center;
    border-radius: 10px;
    background-color: #000;
    top: 20%;
    height: 50%;
    position: relative;
    padding: 0 6px;
    cursor: pointer;
}
.navbars__button__dx:hover{
    background-color: #e8e8e8;
}
.navbars__button__hello{
    color: #000;
    position: relative;
    top:10%;
    height: fit-content;
}

/*DROP DOWN BTN */
.dropbtn {
    background-color: transparent;
    color: #000;
    padding: 16px 0  ;
    font-size: 16px;
    border: none;
    cursor: pointer;

  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.profile__btn{
    outline: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

/*CONTENT*/
.content{
    width: auto;
    display: flex;
    height: auto;
}
.content__sidebar{
    position: relative;
    top:20px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    left:0;
}
.sidebar{
    width:90px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    left: 14px;
    padding: 0 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 74px;
    z-index: 8;
}
.sidebar__list{
    padding-left: 0;
}
.sidebar__item{
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    color: #404040;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    margin-top: 4px;
    width: 72px;
    border-radius: 16px;
    transition: right linear 0.4s;
}
.sidebar__item:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateX(3px);
}
.sidebar__link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #333;
    font-weight: 700;
    position: relative;
 
}

.sidebar__icon{
    text-align: center;
}
.sidebar__title{
    margin-top: 8px;
    font-size: 14px;
}

.pathway__introduce {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: 30em;
    width: 100%;
    background: url("../img/Pathway.png") no-repeat;
    background-size: cover;
}

.pathway__content{
    display: flex;
    margin-top: 24px;
}

.pathway__content .front_end__pathway{
    border: 2px solid #000000;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 500px;
}

.pathway__content .back_end__pathway{
    border: 2px solid #000000;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 500px;
    margin-left: 24px;
}

.p__pathway{
    margin-bottom: 24px;
}

.btn__pathway {
    border: 1px solid;
    padding: 9px 16px;
    text-align:center;
    border-radius: 999px;
    text-decoration: none;
    color:white;
    background-color: gold;
}


.introduce__background{
    height: 60px;
    background-color: transparent;
    border-radius: 12px;
    margin-right: 16px;
    margin-top: 16px;
}
.introduce__img{
    height: auto;
    width: 100%;
    border-radius: 20px;
}
.container__introduce{
    height: 850px;
}
.introduce__title{
    font-size: 40px;
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    text-align: center;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

.content__course h3{
    font-size: 28px;
}
.course__img
{
    padding-top: 56%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 22px;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.course__name{
    margin-top: 10px;
    min-height: 40px;
}
.course__name span {
    font-size: 20px;
    font-weight: 700;
}
.course__price {
    margin-top:10px ;
}
.course__price span{
    font-weight: 700;
}
.course__button{
    padding:10px;
    display: flex;
    justify-content: center;
}
.course__link__button{
    padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.course__link__button:hover{
    background-color: #010101;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.course__link__button:active {
    transform: translateY(-1px);
  }
/*-----------------------------FOOTER---------------------------*/
.footer{
    background-color: var(--black-color);
    color:#fff;
    height: 120px;
}
.footer_title{
    text-align: center;
    padding: 20px 0 ;
    font-size: 30px;
}
.footer__button{
    padding: 0 20px;
}
.footer__title__link{
    text-decoration: none;
    color:#fff;
}
.footer__button_list{
    display: flex;
    justify-content: space-between; 
}
.footer__button_item{
    list-style-type: none;
}
.footer__button__link{
    text-decoration: none;
    color:#fff;
}
<<<<<<< Updated upstream
.row{
    margin: 0;
}
=======

>>>>>>> Stashed changes
