.support__method{
    width: 20%;
    border-radius: 8px;
}
.support__form{
    padding: 20px;
    border-radius: 20px;
    height: fit-content;
    top:10%;
    position: relative;
    border-radius: 40px;
background: #f4f4f4;
box-shadow:  21px 21px 42px #e4e4e4,
             -21px -21px 42px #ffffff;
}
.form__title{
    text-align: center;
    display: block;
    font-weight: 300;
    font-size: 30px;
}
.support__button{
    display: flex;
    justify-content: center;
}
.content__container{
    height: 800px;
}
textarea{
    height: 150px;
    border-radius: 10px;
}
.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #fff;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }
